.panel_container{
    position: relative;

    height: 150px;

    box-shadow: 2px 2px 10px grey;
    border-radius: 15px;
    overflow: hidden;
}

.panel_canvas {
    position: absolute;

    top: 0;
    left: 0;
    width: 101%;

    /* width: 100%;
    height: 100%; */
}

.panel_content {
    /* position: absolute; */

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 15;
    color: white;
}

.panel_value_label {
    position: relative;

    padding: 0;
    margin: 0;

    font-size: 200%;
}

.panel_title_label {
    position: absolute;

    top: 0;
    left: 0;

    padding: 0;
    margin: 16px;
}

.panel_subtitle_label {
    position: absolute;

    bottom: 0;
    left: 0;

    padding: 0;
    margin: 16px;
}

.panel_value_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.panel_time_label {
    position: absolute;

    bottom: 0;
    right: 16px;
}