.socket_container {
    padding-top: 50px;
}

.store_badge {
    height: 100%;
    width: 100%;

    max-height: 75px;

    object-fit: contain;
}

.apple_badge {
    height: 50px;
    padding-top: 11px; 
}
